# .dockerignore
# These files are excluded from commands like COPY, so you can avoid
# importing multi-GB build directories into your container image, and
# speed up your build process

# those items commented out ARE processed by docker commands
# they are listed here (commented out) for completeness sake

.git
.github
# .sqlx
bin
# deploy
doc
# etc
image
sql
# src
target
tests
tools

.dockerignore
.gitignore
# Cargo.lock
# Cargo.toml
datamove.code-workspace
datamove.toml
Dockerfile
Dockerfile-alma8
Dockerfile-rpm
NOTES.md
# README.md

*.rpm
