# don't version build products
/target

# don't version rustfmt backup files
**/*.rs.bk

# don't version my notes
/NOTES.md

# don't version production configuration
datamove.toml

# don't version the image directory
/image

# don't version the sql directory
/sql

# don't version .rpm files
*.rpm
